<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Login</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0; 
        }

        .header {
            position: absolute;
            top: 70px; /* Ajuste conforme necessário */
            width: 500%;
            text-align: center;
        }

        .header h1 {
            margin: 0;
            font-size: 3rem;
            color: #000;
        }

        .button-container {
            display: flex;
            flex-direction: row; /* Organiza os botões em uma linha */
            justify-content: center;
            align-items: center;
            gap: 70px; /* Espaçamento entre os botões */
        }

        .button-container a {
            text-decoration: none;
        }

        .button-container {
            display: flex;
            justify-content: center; 
            gap: 100px; 
            position: absolute;
            top: 80px; 
            width: 100%;
        }

        button {
            font-weight: bold;
            color: white;
            border-radius: 2rem;
            cursor: pointer;
            width: 150px; 
            height: 50px; 
            border: none;
            background-color: #4F46E5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:hover {
            background-color: #554fc7; 
        }
        
    </style>
</head>
<body>
    <div class="header">
        <h1>Bem-vindo TATATA</h1>
    </div>

    <div class="button-container">
        <a href="/delete">
            <button>Deletar seu Usuário</button>
        </a>
        <a href="/update">
            <button>Atualizar Usuário</button>
        </a>
    </div>
</body>
</html>
