<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0; 
            position: relative; /* Permite o uso de posições absolutas internas */
        }

        .header {
            position: absolute;
            top: 50px; /* Distância do topo */
            width: 100%;
            text-align: center;
        }

        .header h1 {
            margin: 0;
            font-size: 2.6rem; /* Tamanho do texto do título */
            color: #000;
        }

        .button-container {
            display: flex;
            flex-direction: column; /* Organiza os botões em uma coluna */
            align-items: center;
            position: absolute;
            top: 50%; /* Centraliza verticalmente */
            left: 50%; /* Centraliza horizontalmente */
            transform: translate(-50%, -50%); /* Ajusta o posicionamento */
        }

        .button-row {
            display: flex;
            flex-direction: row; /* Organiza os dois primeiros botões em linha */
            gap: 70px; /* Espaçamento entre os botões */
            margin-bottom: 20px; /* Espaço entre a linha e o terceiro botão */
        }

        .button-container a {
            text-decoration: none;
        }

        button {
            font-weight: bold;
            color: white;
            border-radius: 2rem;
            cursor: pointer;
            width: 150px; 
            height: 50px; 
            border: none;
            background-color: #4F46E5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:hover {
            background-color: #554fc7; 
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Bem-vindo Usuário</h1>
    </div>

    <div class="button-container">
        <div class="button-row">
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/register">
                <button>Registrar</button>
            </a>
        </div>
        <a href="/admin">
            <button>Administrador</button>
        </a>
    </div>
</body>
</html>
